@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h3,h4,h5,h6,
pre,form,fieldset,input,textarea,p,blockquote {	margin:0;padding:0;}
body{font-size:12px; font-family:"宋体", "Arial";}
fieldset,img {border:0;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;}
ol,ul,li {list-style:none;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
q:before,q:after { content:”;}
abbr,acronym {border:0;}
a{text-decoration:none;color:#000;}
p{ color:#5a544f}
a:hover{ text-decoration:none}

.header{ background:url(../image/bg.png) repeat-x; height:121px;}
.hd{width:73%; margin:0 auto;}
.hd .hd1{ padding-top:27px; float:left;}
.hd .hd2{padding-top:38px; padding-left:20%;}
.banner{height:600px; background:url(../image/banner.jpg) center top no-repeat;}
.ct1{width:73%; margin:0 auto; overflow:hidden; margin-top:55px;}
.ct1 h3{ text-align:center;}
.ct1 p{text-align:center;   font-size:14px; line-height:26px; margin-top:41px;}



.ct2{ height:138px; border-top:7px solid #e3e3e3; margin-top:169px; _position:relative;_height:158px;}
.ct3{width:73%; height:138px; margin:0 auto;z-index:0;}
.ct3 h3{ margin-top:-30px;  z-index:1; text-align:center; _position:absolute; _left:43%}
.ct3 h4{text-align:center; padding-top:19px;_padding-top:59px;}


.ct4{width:73%; overflow:hidden; margin:0 auto;}
.ct4 .t1{ width:10%;padding-right:2%;float:left; position:relative;}
.ct4 .t1 .i2{ width:100%;}
.ct4 .t2{width:81%;  float:left;  border-left:1px solid #f39800;  }
.ct4  .i1{ position:absolute;right:-10px; top:34px; z-index:1; }

.ct4 .t3{width:97%;  float:left;  overflow:hidden; padding-bottom:29px; margin-left:3%; border-bottom:1px dashed #999999;}
.ct4 .c1{width:51%; float:left; overflow:hidden; font-size:14px;}
.ct4 .c1 h3{font-size:18px; font-weight:bold; padding-top:33px; padding-bottom:16px;}
.ct4 .c1 p{line-height:22px; padding-bottom:15px;color:#8f8f8f; font-size:14px;}
.ct4 .c1 span{color:#000000;}
.ct4 .t4{width:97%;  float:left;  overflow:hidden; padding-bottom:29px; margin-left:3%;}

.c2{width:32%; margin-left:15%; margin-top:19px; height:256px; float:left; border:1px solid #d3d2d2;}
.c2 img{width:90%; padding-left:5%; padding-top:8px;}
.c2 p{color:#090a28; font-size:13px; padding-top:16px; text-align:center;}


.mbox{width:100%;overflow: hidden;height: 400px; position:relative;margin:40px auto;}
.mbox ul{position: absolute;width:20000px; left:0;top:0;overflow:hidden;height:380px;}
.mbox ul li{float: left;width:169px;height: 380px;padding-right: 4px;overflow:hidden;}
.mbox ul li .on{display: none;opacity:0.8; position:relative;}
.mbox ul li .on img {width:510px;height:300px;}
.mbox ul li .on  h3 {width:490px; position:absolute; left:0; top:270px;height:30px;opacity:0.8;filter:alpha(opacity=80);background:#000; font-size:16px;color:#fff; z-index:100;padding-left:20px;line-height:30px;font-weight:bold;}
.mbox ul li .on p {width:490px;height:80px;line-height:20px;color:#fff;background:#39bedd;overflow:hidden;padding:0 10px;}
.mbox ul li .off{width:170px;height:380px;background:#000; position:relative;}
.mbox ul li .off img{width:170px;height:300px; padding-top:20px;}
.mbox ul li .off h4 { position:absolute;width:170px;height:380px; z-index:100; top:0; left:0; text-align:center; color:#fff; font-size:20px;font-weight:bold;opacity:0.7;filter:alpha(opacity=70);background:#000; }

.m_lef {width:170px;height:380px; position:absolute; left:0; top:0;background:#000; z-index:10000;opacity:0;filter:alpha(opacity=0); display:block;}
.m_rit {width:170px;height:380px; position:absolute; right:0; top:0;background:#000; z-index:10000;opacity:0;filter:alpha(opacity=0); display:block;}

/* footer*/
 .bottom-link{ border-bottom:0px solid #c3e900; clear:both; width:975px; margin:0 auto;}
 .bottom-link-wrap{ padding:30px 0 20px 0; width:975px; margin:0 auto; overflow:hidden;}
 .links-list{ float:left; height:140px; overflow:hidden; margin:0 auto}
 .links-list .itemB{ margin:0; padding:0; width:160px; text-align:center; height:135px; display:inline-block; *display:inline; zoom:1; vertical-align:top;}
 .links-list h4{ height:27px; color:#4c4848; font-size:14px; font-weight:bold;}
 .links-list ul{ border-right:1px solid #ededed;height:135px;  margin:0; padding:0;}
 .links-list li{ line-height:24px; color:#4c4848;}
 .links-list li a {color:#5e5c5c;}
 .bottom-link .b-l-5{ width:300px; text-align:left;}
 .bottom-link .b-l-5 h4 { padding-left:25px; }
 .bottom-link .b-l-5 ul{ border:0; padding-left:25px; }
 .bottom-link .b-l-5 ul li {line-height:18px;}
 .bottom-link .b-l-5 ul li.p1  { font:900 26px/35px Verdana, Geneva, sans-serif; color:#0f6a36;}
 .bottom-link .b-l-5 ul li.p1 span { font-weight:normal;}
 .footer{background:#f9f9f9;overflow:hidden;height:191px;}

.f_db {overflow:hidden;background:#f9f9f9;}
.dibu {width:983px; overflow:hidden;padding:20px 0;margin:0 auto; text-align:center;}
.dibu span {color:#da4642;}
.dibu_txt {width:983px;text-align:center; line-height:30px;}
.dibu p {float:left;line-height:30px; padding:0 5px 0 300px;}
.bdsharebuttonbox {float:left;line-height:25px;}
